page-welcome {
    /* .row {
        text-align: center;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        margin-top: 50%;
     } */
}
